<div>
    <h4>
        Change Wine Style
        <a style="float:right;margin-top:6px;" class="btn btn-small cancel" href="#" ng-click="closePopup(0)">Cancel</a>
    </h4>
    <hr>
    <p>To delete the current style select delete.</p><p>To change the existing style enter the changes and select edit.</p><p>To add a new style enter the details and select add.</p><p>Index is the order in which styles are displayed.</p>

	 <input type="text" ui-reset ng-model="wmStyles.wmNew.text" placeholder="add/edit style" maxlength="{{wmStyles.config.length}}"/> 
	 <input id="idx" type="number" ng-model="wmStyles.wmNew.idx" min="{{wmStyles.config.min}}" max="{{wmStyles.config.max}}"/> 
	 <hr>
	 <a style="float:right;margin-right:10px;" class="btn btn-small btn-success" href="#" ng-click="closePopup(1)">Add</a>
	 <a style="float:right;margin-right:10px;" class="btn btn-small btn-success" href="#" ng-click="closePopup(2)">Edit</a>
	 <a style="float:right;margin-right:10px;" class="btn btn-small btn-danger" href="#" ng-click="closePopup(3)">Delete</a>
</div>
